<?xml version="1.0" encoding="UTF-8"?>
<extension>
    <information>
        <name>Zetsu Diary</name>
        <version>1.0</version>
        <author>Zetsuserv</author>
        <description>A native diary application for Kindle devices</description>
    </information>
    <menus>
        <menu type="json" dynamic="false">bin/menu.json</menu>
    </menus>
</extension>
